.menu-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    text-align: center;
    background-color: #fff;
}

.menu-item {
    margin: 15px 0;
    text-align: left;
}

.menu-item input[type="text"] {
    display: block;
    width: calc(100% - 20px);
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
    height: 100%;
}

.menu-item label {
    font-weight: bold;
    width: 100%;
    display: block;
    margin-bottom: 7px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.avatar-preview img {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.room-select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
}


.menu-item h3 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #333;
}
