.player-panel {
    display: flex;
    justify-content: space-around;
    height: 150px;
}

.player {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
}

.player.active {
    font-weight: bold;
    background-color: rgb(0, 255, 208);
    border-radius: 25px;
    padding: 5px;
}

.avatar {
    width: 66px;
    height: 66px;
    border-radius: 50%;
    margin-bottom: 5px;
}

.symbol {
    height: 25px;
    width: 25px;
}

.back{
    display: flex;
    width: 60px;
    height: 25px;
    margin: auto;
    cursor: pointer;
}

.player-panel-main{
    display: grid;
    grid-template-columns: 50px auto;
    background-color: #d2b48c;
    padding: 10px;
    margin-bottom: 20px;
}